# メールサーバー設定
SMTP_HOST="smtp.gmail.com"
SMTP_PORT=465
SMTP_USER="your_email@gmail.com"
SMTP_PASS="your_app_password"

# メールの送受信者設定
MAIL_FROM_ADDRESS="your_email@gmail.com"
MAIL_FROM_NAME="あなたのサイト名"
MAIL_TO_ADDRESS="your_receiving_email@example.com"
MAIL_TO_NAME="あなたの名前"