@use "variables";

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    margin-top: 20px;
    width: 100%;
    border-top: 2px solid black;
    div.footer-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: variables.$font-size-base*1.2;
        div.footer_menu {
            display: flex;
        }
        div.subtitles {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            a.subtitle {
                font-size: variables.$font-size-base*1.2;
                text-decoration: none;
                color: variables.$text-color;
                margin: 0 10px;
            }
            div.SNS {
                display: flex;
                width: 100%;
                justify-content: center;
                align-items: center;
            }
        }
    }

    // --- メディアクエリでスマホ・タブレット対応 ---
    @media (max-width: (variables.$breakpoint-tablet - 1px)) { // 例: 767px以下の場合
        padding: 15px 0; // モバイルでのpaddingを調整

        div.footer-content {
            flex-direction: column; // 要素を縦に並べる
            text-align: center; // 中央揃え
            padding: 0 15px; // 左右の余白

            div.footer_menu {
                display: flex;
                flex-direction: column;
            }

            a.title {
                font-size: variables.$font-size-base * 1.5; // モバイルでのタイトルサイズ
                margin: 10px 0; // 上下のマージンを調整
            }

            div.subtitles {
                flex-direction: column; // サブタイトルも縦に並べる
                align-items: center; // 中央揃え
                
                a.subtitle {
                    font-size: variables.$font-size-base*1.5; // モバイルでのサブタイトルサイズ
                    margin: 5px 0; // サブタイトル間の上下マージン
                }
                div.SNS {
                    flex-direction: column;
                    align-items: center;
                }
            }
        }
    }
}