// _variables.scss
$primary-color: #e36767;
$secondary-color: white;
$background-color: #f2ebd1;
$font-size-base: 16px;
$spacing-unit: 8px;
$header-height: 5rem;

$primary-color-dark: #e06767;
$danger-color: #0056b3;
$border-color: #ccc;
$text-color: #333;

$breakpoint-tablet: 770px; // タブレットのブレイクポイント