@import 'variables';
@import 'header';
@import 'footer';

body {
    background-color: $background-color;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: $header-height;
    align-items: center;
    justify-content: center;
    padding: $spacing-unit * 1.5;
    padding-top: 10px;
    div.main_logo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 400px;
        height: 600px;
        img {
            width: 100%;
            height: 100%;
        }
    }
}