@use 'variables';
@use 'breadcrumb';
@use 'header';
@use 'footer';
@use 'stickyfooter';

body {
    background-color: variables.$background-color;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

div.wrapper {
    min-height: calc(100% - (variables.$header-height * 2));
    display: flex;
    flex-direction: column;
    margin-top: variables.$header-height;

    main {
        flex: 1;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        align-items: flex-start;
        text-align: center;
        justify-content: center;
        padding: variables.$spacing-unit * 1.5;
        padding-top: 10px;
        width: 80vw;

        p.title {
            width: 100%;
            font: bold;
            text-align: left;
            font-size: variables.$header-height * 0.35;
            padding: 0.5rem;
            margin: 0;
            margin: 2rem 0;
            border-left: 4px solid variables.$blue-color;
        }
        div.news_list {
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;

            .news_item {
                width: min(100%, 340px); /* As per original image width */
                height: auto; /* Total height */
                border: 1px solid #ccc; /* Example border */
                margin-bottom: 20px; /* Space between news items */
                display: flex;
                flex-direction: column;
                box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Subtle shadow */
                background-color: #fff; /* White background */

                .news_item_top {
                    width: 100%;
                    height: auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #f0f0f0; /* Light grey background for top part */
                    font-size: 1.5rem;
                    color: #666;
                    border-bottom: 1px solid #eee; /* Separator */
                    img {
                        vertical-align:top;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .news_item_bottom {
                    width: 100%;
                    height: auto;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start; /* Align text to the left */
                    padding: 10px;
                    box-sizing: border-box; /* Include padding in height */

                    .news_date {
                        font-size: 0.8rem;
                        color: #999;
                        margin-bottom: 5px;
                    }

                    .news_title {
                        font-size: 1rem;
                        font-weight: bold;
                        margin: 0;
                    }

                    .news_title a {
                        text-decoration: none;
                        color: #333; /* Dark grey for link */
                    }

                    .news_title a:hover {
                        text-decoration: underline;
                        color: #007acc; /* Blue on hover */
                    }
                }
            }
        }
        div.news_content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            text-align: left;

            li.store {
                font-size: 1.2rem;
            }
        }
    }
}

// 03.php
img.profile-image {
    width: 30vw;
}
@media (max-width: variables.$breakpoint-tablet) {
    img.profile-image {
        width: 50vw;
    }
}
@media (max-width: variables.$breakpoint-phone) {
    img.profile-image {
        width: 80vw;
    }
}